extends layout

block content
  if (logout)
    a(href="/logout") Выход

  div#error
  #main
    a#btn-remove-all.btn-common(href='#') Начать новый список
    div
        input#new-todo(name="todo", placeholder="Что нужно делать?")
        a#btn-enter.btn-common(href="#")&nbsp;&nbsp;Enter 
    div
      ol#list-not-ready.ui-sortable
    div
      ul#list-ready
    a#btn-remove-completed.btn-common(href="#") Удалить выполненные задачи

