doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="http://code.jquery.com/jquery-1.6.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js")
    script(src="/javascripts/todo.js")
  body
    block content